@model StudentModel

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Address</td>
            </tr>
        }
    </tbody>
</table>


